<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Perguntas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"><!-- Bootstrap: arquivo estático-->
    <link rel="stylesheet" href="/css/style.css"> <!--arquivo css customizado depois do bootstrap -->
    <link rel="stylesheet" href="/css/sticky-footer.css"> <!--arquivo css com estilo do rodapé-->
    <link rel="stylesheet" href="/css/back-topo.css"><!--arquivo css do botão 'voltar-ao-topo-->
</head>