<%- include("../partials/header.ejs") %>
<body>
    <%- include("../partials/navbar.ejs") %>
    <div class="container" id="formulario-pergunta">
        <div class="card" >
            <div class="card-header">
                <h3>Realizar Pergunta</h3>
            </div>
            <div class="card-body">
                <form method="post" action="/questions/save">
                    <label>Autor</label>
                    <input type="text" placeholder="Autor" class="form-control" name="author">
                    <br><label>Título</label>
                    <input type="text" placeholder="Título" class="form-control" name="title">
                    <br><label>Descrição</label>
                    <textarea placeholder="escreva sua pergunta aqui" id="pergunta" class="form-control" name="description"></textarea>
                    <br>
                    <button class="btn btn-danger">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include("../partials/footer.ejs") %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language:'pt_BR',
        selector: "#pergunta",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>